
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:repeat(2,100px);
	column-gap:4px;
	row-gap:4px;
/* 	grid-templates-rows:repeat(2,100px); */
	
}
.holder .item {
	width:100px;
	height:100px;
	background:green;
/* 	margin:5px; */
	
	
}