
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:repeat(2,50%);
	grid-template-rows:repeat(2,50%);
	
}
.holder .item {
	width:100px;
	height:100px;
	background:green;
	margin:5px;
	
}